
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STI-Document Request || Get started!</title>
    <link rel="icon" type="image/xicon" href="https://cdn.discordapp.com/attachments/1036248048390651906/1082856634814046289/STI_Localized_Logo_Cauayan.png">


     <!-- Custom fonts for this template-->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" type="text/css">
     <link
         href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
         rel="stylesheet">

    <!-- Custom styles for this templateb-->
    <link href="/css/main.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Update Document Information</h1>
                                    </div>
                                    <form action="/walkin/update" autocomplete="off" name='form' method="POST" accept-charset='UTF-8'>
                                    <div class="form-group row">
                                        <div class="col-sm-5">
                                            <label for="trans">Trans. #</label>
                                            <input type="number" name="transaction_no" class="form-control form-control-user"
                                             value="<%= data[0].transaction_no %>" readonly>
                                        </div>
                                        <div class="col-sm-7 mb-3 mb-sm-0">
                                            <label for="ser">Serial Number</label>
                                            <input type="text" name="serial_no" maxlength="8" class="form-control form-control-user"
                                            value="<%= data[0].serial_no %>"  required>
                                       </div>        
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="doc_type">Document Type</label>
                                            <input type="text" name="doc_type" class="form-control form-control-user" 
                                            value="<%= data[0].doc_type %>" readonly>
                                        
                                        </div>
                                    </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="form-group" class="form-block">Full Name</label>
                                                <input type="text" maxlength="10" name="full_name" class="form-control form-control-user" id="exampleSchoolid"
                                                value="<%= data[0].full_name %>" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-group" class="from-block">Status</label>
                                                <input type="text" name="status" class="form-control form-control-user" value="completed" style="color: green;" 
                                                 readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-group" class="form-block">Email</label>
                                            <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                            value="<%= data[0].email %>" readonly >
                                        </div>
                                        <div class="form-group">
                                            <label for="form-group">Remarks</label>
                                            <input type="text" name="remarks" class="form-control form-control-user"
                                             required>
                                        </div>
                                            <hr>
                                            <hr>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Update Document</button>
                                        <button type="button" class="btn btn-light btn-user btn-block"><a href="/session-log">Exit</a></button>
                                        <hr>
                                        <hr>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
</body>
</html>